<{extends file="common/layout.html"}>
<{block name="admin_content"}>

    <div class="aw-content-wrap">
        <form  method="post" id="art_form" action="<{framework\core\Factory::U('admin/Article/addHandle')}>" onsubmit="return verifyArtAdd()">
        
        <div class="mod">
            <div class="mod-head">
                <h3>
                    <span class="pull-left">添加文章</span>
                </h3>
            </div>
            <div class="tab-content mod-content">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label">文章标题:</span>
                                <div class="col-sm-5 col-xs-8">
                                    <input type="text" placeholder="" name="art_title" class="form-control">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label">上级目录：</span>
                                <div class="col-sm-5 col-xs-8">
                                     <select class="form-control" name="parent_id">
                                        <option value="0">默认目录</option>>
                                   <{foreach $art_tree as $v}>
                                        <option value="<{$v['art_id']}>">
                                             <{$v['art_title']|indent:$v['leven']:'&nbsp&nbsp&nbsp'}>                                   
                                        </option>
                                   <{/foreach}>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label">文章分类:</span>
                                <div class="col-sm-5 col-xs-8">
                                    <select class="form-control" name="cat_id">
                                        
                                   <{foreach $cate_name as $v}>
                                        <option value="<{$v['cat_id']}>">
                                             <{$v['cat_name']}>                                   
                                        </option>
                                   <{/foreach}>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <div class="form-group">
                      <tr>
                        <td>
                                <span class="col-sm-4 col-xs-4 control-label">文章内容:</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-sm-5 col-xs-8">
                                    <script id="editor" type="text/plain" style="width:1024px;height:500px;"></script>
                            </div>
                           
                        </td>
                    </tr>
                     </div>
                    </tbody><tfoot>
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-primary btn-lg right-block" value="添加">
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            </div>
        </form>
    </div>

<{/block}>