<{extends file="common/layout.html"}>
<{block name="admin_content"}>

    <div class="aw-content-wrap">
        <div class="mod">
            <div class="mod-head">
                <h3>
                    <span class="pull-left">分类管理</span>
                </h3>
            </div>

            <div class="tab-content mod-body">
                <div class="alert alert-success hide error_message"></div>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
							<th>标题</th>
                            <th>分类</th>
							<th>上级目录</th>
							<th>发布时间</th>							
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <form method="post" action="#" id="category_form"></form>
                    <{foreach $art_list as $v}>   
                        <tr>
							<td>
                                <a href="#"><{$v['art_title']}></a>
                            </td>
                            <td>
                                <a href="#"><{$v['cat_name']}></a>
                            </td>
							<td>
                                <a href="#"><{$v['parent_id']}></a>
                            </td>
                            <td>
                                <div class="col-sm-7 clo-xs-12 col-lg-offset-3">
                                    <{$v['pub_time']|date_format:'%Y-%m-%d %H:%M:%S'}>
                                </div>
                            </td>
							
                            <td>
                                <a href="<{framework\core\Factory::U('admin/Article/edit',['id'=>$v['art_id']])}>" title="" class="icon icon-edit md-tip" data-toggle="tooltip" href="category_edit.html" data-original-title="编辑"></a>
                                <a href="<{framework\core\Factory::U('admin/Article/delete',['id'=>$v['art_id']])}>" onclick="return firmdelete()" class="icon icon-trash md-tip" data-toggle="tooltip"  data-original-title="删除"></a>
                                
                            </td>
                    </tr>
                    <{foreachelse}>
                        <tr>
                            <td colspan="3">暂无内容</td>
                        </tr>
                    <{/foreach}>
                        </tbody>
                        <tfoot class="mod-foot-center">

                        <tr>
							<!--分页显示-->
                            <!--<td><{$cate_page}></td>-->
                            <td colspan="2">                          
                            <form method="post" action="" id="add_category_form">
                               
                                <div class="pull-right" style="margin-right: 150px">
                                 <a class="btn-primary btn" href="<{framework\core\Factory::U('admin/Article/add')}>">添加文章</a>
                                </div>
                            </form>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="hide" id="target-category">
            <option value="1">默认分类</option>    
        </div>
    </div>

<{/block}>